@model IEnumerable<TableWeightLogViewModel>
@inject UserManager<ApplicationUser> userManager;
@{
    var user = (await userManager.FindByNameAsync(User.Identity.Name)) as ApplicationUser;
    ViewBag.MeasureType = user.MeasureType;
}
<link type="text/css" rel="stylesheet" href="~/css/table/style.css" />

<div style="width:60%">

    <table class="table table-striped table-hover table-responsive" id="weightLogsTable">
        <thead>
            <tr class="text-uppercase" id="tableHeader">
                <th>
                    Date
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                </th>
                <th>
                    Weight in @ViewBag.MeasureType <span class="glyphicon glyphicon-sort-by-order"></span>
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var log in Model)
                {
                    <tr>
                        <td>
                            @log.LogDate.ToShortDateString()
                        </td>
                        <td class="right-row">
                            <label> @Decimal.Round((Decimal)log.WeightValue,2)</label>
                            <a asp-area="" asp-controller="WeightLog" asp-action="Delete" asp-route-id="@log.Id" class="btn btn-info btn-xs">Delete</a>
                            <a asp-area="" asp-controller="WeightLog" asp-action="Edit" asp-route-id="@log.Id" class="btn btn-primary btn-xs">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts
    {
    <script>
        $.fn.dataTableExt.oSort["date-format-desc"] = function (x, y) {
            x = new Date(x);
            y = new Date(y);

            return x > y ? -1 : 1;
        };

        $.fn.dataTableExt.oSort["date-format-asc"] = function (x, y) {
            x = new Date(x);
            y = new Date(y);

            return x > y ? 1 : -1;
        }
        $.fn.dataTableExt.oSort["weight-desc"] = function (x, y) {
            x = parseFloat($($($(x)).filter('label')).text());
            y = parseFloat($($($(y)).filter('label')).text());

            return x > y ? -1 : 1;
        };

        $.fn.dataTableExt.oSort["weight-asc"] = function (x, y) {
            x = parseFloat($($($(x)).filter('label')).text());
            y = parseFloat($($($(y)).filter('label')).text());

            return x > y ? 1 : -1;
        }

        
        $(document).ready(function () {
            $('#weightLogsTable').DataTable({
                columnDefs: [
                    { type: 'date-format', targets: 0 },
                    { type: 'weight', targets: 1 }
                ]
            } );
        });
    </script>
}
